* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-top {
  height: 20vh;
  padding-bottom: 70px;
  position: relative;
  background: #161616;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
header .header-top .header-top-left {
  margin-left: 20px;
  width: 50%;
}
header .header-top .header-top-left ul {
  display: flex;
}
header .header-top .header-top-left ul li {
  display: flex;
}
header .header-top .header-top-left ul li i {
  margin-top: 10px;
}
header .header-top .header-top-left ul li a i {
  margin-top: 10px;
}
header .header-top .header-top-left ul li p {
  margin: 10px;
  color: white;
}
header .header-top .header-top-right {
  width: 50%;
}
header .header-top .header-top-right ul {
  margin-top: 10px;
}
header .header-top .header-top-right ul li {
  display: inline;
  float: right;
  list-style: none;
  margin: 0 10px;
  padding: 10px;
}
header .header-top .header-top-right ul li a {
  text-decoration: none;
  color: white;
}
header .header-top .header-top-right ul li a i {
  font-size: 22px;
}
header .header-top .header-top-right ul li a i:hover {
  background-color: rgba(241, 197, 103, 0.7529411765);
}
header .header-top .header-top-right ul li a:hover {
  color: rgba(241, 197, 103, 0.7529411765);
}
header .header_main {
  width: 80%;
  top: 60px;
  position: absolute;
  background-color: white;
  height: 80px;
  display: flex;
}
header .header_main .header_main_left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_main .header_main_left .btn {
  background-color: #c29d59;
  border: none;
  color: rgb(243, 243, 243);
  font-size: medium;
  padding: 10px;
}
header .header_main .header_main_main {
  width: 40%;
}
header .header_main .header_main_main nav {
  height: auto;
}
header .header_main .header_main_main nav ul {
  display: flex;
}
header .header_main .header_main_main nav ul li {
  list-style: none;
  margin: 10px;
}
header .header_main .header_main_main nav ul li a {
  text-decoration: none;
  color: #353434;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
header .header_main .header_main_main nav ul li a:hover {
  background-color: #c29d59;
  padding: 10px;
}
header .header_main .header_main_right {
  width: 30%;
}
header .header_main .header_main_right h1 {
  text-align: center;
}
header .header_main .header_main_right h1 a {
  text-decoration: none;
  color: #161616;
  font-family: "Lobster", cursive;
}

main .banner {
  background-image: url("/imgs/banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 0;
  color: white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .banner h1 {
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4rem;
}
main .banner p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
}
main .banner .btn {
  padding: 10px;
  font-size: 14px;
  border: none;
  margin: 10px;
}
main .banner .btn:hover {
  background-color: #c29d59;
  color: white;
}

@media screen and (max-width: 620px) {
  header .header-top {
    display: none;
  }
  header .header_main {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    display: flex;
  }
  header .header_main .header_main_left {
    display: none;
  }
  header .header_main .header_main_main {
    width: 50%;
  }
  header .header_main .header_main_main ul {
    display: flex;
    flex-direction: column-reverse;
  }
  header .header_main .header_main_main ul li a:hover {
    border-radius: 18px;
  }
  header .header_main_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=demo.css.map */