* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//variables
$p-color: white;
$header-top-color: #f1c567c0;

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

// header top desktop design here
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header-top {
    height:20vh;
    padding-bottom: 70px;
    position: relative;
    background: #161616;
    display: flex;
  
    justify-content: space-between;
    width: 100%;

    align-items: center;
    .header-top-left {
      margin-left: 20px;
      width: 50%;

      ul {
        display: flex;

        li {
          display: flex;
          i {
            margin-top: 10px;
          }

          a {
            i {
              margin-top: 10px;
            }
          }
          p {
            margin: 10px;
            color: $p-color;
          }
        }
      }
    }
    .header-top-right {
      width: 50%;
      ul {
        margin-top: 10px;
        li {
          display: inline;
          float: right;
          list-style: none;
          margin: 0 10px;
          padding: 10px;
          a {
            text-decoration: none;
            color: $p-color;
            i {
              font-size: 22px;
            }
            i:hover {
              background-color: $header-top-color;
            }
          }
          a:hover {
            color: $header-top-color;
          }
        }
      }
    }
  }
  //header main start  here
  .header_main {
    width: 80%;
    top: 60px;
    position: absolute;
    background-color: white;
    height: 80px;
    display: flex;
    .header_main_left {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn {
        background-color: #c29d59;
        border: none;
        color: rgb(243, 243, 243);
        font-size: medium;
        padding: 10px;
      }
    }
    .header_main_main {
      width: 40%;
      nav {
        height: auto;
        ul {
          display: flex;
          li {
            list-style: none;
            margin: 10px;
            a {
              text-decoration: none;
              color: #353434;
              font-family: "Poppins", sans-serif;
              transition: all 0.3s;
            }
            a:hover {
              background-color: #c29d59;
              padding: 10px;
            }
          }
        }
      }
    }
    .header_main_right {
      width: 30%;
      h1 {
        text-align: center;
        a {
          text-decoration: none;
          color: #161616;
          font-family: "Lobster", cursive;
        }
      }
    }
  }
}

// main section style here

main {
  .banner {
    background-image: url("/imgs/banner-img.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 0;
    color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;

    h1 {
      font-size: 46px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0.4rem;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 20px;
    }
    .btn {
      padding: 10px;
      font-size: 14px;
      border: none;
      margin: 10px;
    }
    .btn:hover {
      background-color: #c29d59;
      color: white;
    }
  }
}


// responsive here
@media screen and (max-width: 620px) {
  header {
    .header-top {
      display: none;
    }
    .header_main {
     

      height: max-content;
      width: 100%;
      display: flex;

      .header_main_left {
        display: none;
      }
      .header_main_main {
        width: 50%;

        ul {
          display: flex;
          flex-direction: column-reverse;
          li {
            a:hover {
              border-radius: 18px;
            }
          }
        }
      }
    }
    .header_main_right {
      width: 50%;
      display: flex;

      justify-content: center;
      align-items: center;
    }
  }
}

