* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-top {
  height: 20vh;
  padding-bottom: 70px;
  position: relative;
  background: #161616;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
header .header-top .header-top-left {
  margin-left: 20px;
  width: 50%;
}
header .header-top .header-top-left ul {
  display: flex;
}
header .header-top .header-top-left ul li {
  display: flex;
}
header .header-top .header-top-left ul li i {
  margin-top: 10px;
}
header .header-top .header-top-left ul li a i {
  margin-top: 10px;
}
header .header-top .header-top-left ul li p {
  margin: 10px;
  color: white;
}
header .header-top .header-top-right {
  width: 50%;
}
header .header-top .header-top-right ul {
  margin-top: 10px;
}
header .header-top .header-top-right ul li {
  display: inline;
  float: right;
  list-style: none;
  margin: 0 10px;
  padding: 10px;
}
header .header-top .header-top-right ul li a {
  text-decoration: none;
  color: white;
}
header .header-top .header-top-right ul li a i {
  font-size: 22px;
}
header .header-top .header-top-right ul li a i:hover {
  background-color: rgba(241, 197, 103, 0.7529411765);
}
header .header-top .header-top-right ul li a:hover {
  color: rgba(241, 197, 103, 0.7529411765);
}
header .header_main {
  width: 80%;
  top: 70px;
  position: absolute;
  background-color: white;
  height: 80px;
  display: flex;
}
header .header_main .header_main_left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_main .header_main_left .btn {
  background-color: #c29d59;
  border: none;
  color: rgb(243, 243, 243);
  font-size: medium;
  padding: 10px;
}
header .header_main .header_main_main {
  width: 40%;
}
header .header_main .header_main_main nav {
  height: auto;
}
header .header_main .header_main_main nav ul {
  display: flex;
}
header .header_main .header_main_main nav ul li {
  list-style: none;
  margin: 10px;
}
header .header_main .header_main_main nav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
header .header_main .header_main_main nav ul li a:hover {
  background-color: #c29d59;
  padding: 10px;
  border-radius: 16px;
}
header .header_main .header_main_right {
  width: 30%;
}
header .header_main .header_main_right h1 {
  text-align: center;
}
header .header_main .header_main_right h1 a {
  text-decoration: none;
  color: #161616;
  font-family: "Lobster", cursive;
}

main .banner {
  background-image: url("/imgs/banner-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 0;
  color: white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .banner h1 {
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4rem;
}
main .banner p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
}
main .banner .btn {
  padding: 10px;
  font-size: 14px;
  border: none;
  margin: 10px;
}
main .banner .btn:hover {
  background-color: #c29d59;
  color: white;
}
main .tours_section {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
main .crad-container {
  margin-top: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
main .crad-container .crad {
  border: none;
  padding: 20px;
  box-shadow: 5px 5px 8px #6d6b6b;
  text-align: center;
  transition: all 0.3s;
}
main .crad-container .crad .crad-body img {
  width: 100%;
  height: 200px;
}
main .crad-container .crad .crad-des {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
main .crad-container .crad .btn {
  padding: 10px;
  background-color: #c29d59;
  border: none;
  margin: 10px;
  color: rgb(3, 3, 3);
  text-align: center;
}
main .crad-container .crad .btn:hover {
  background-color: rgb(170, 74, 10);
  color: white;
}
main .crad-container .crad:hover {
  transform: scale(0.9);
}

footer {
  color: rgb(189, 183, 183);
  background-color: rgba(0, 0, 0, 0.952);
  text-align: center;
  margin-top: 30px;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding-top: 20px;
  text-align: left;
}
footer .footer-container .footer-main {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-container .footer-main .footer-logo {
  margin-bottom: 10px;
  padding: 10px;
}
footer .footer-container .footer-main .footer-logo h1 {
  text-align: center;
}
footer .footer-container .footer-main .footer-logo h1 a {
  text-decoration: none;
  color: #f5efef;
  font-family: "Lobster", cursive;
}
footer .footer-container .footer-main .footer-des P {
  font-family: "Poppins", sans-serif;
}
footer .footer-container .footer-main h4 {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}
footer .footer-container .footer-main ul {
  display: flex;
}
footer .footer-container .footer-main ul li {
  list-style: none;
  margin: 10px;
}
footer .footer-container .footer-main ul li a {
  font-size: 16px;
  transition: all 0.3s;
}
footer .footer-container .footer-main ul li a:hover {
  background-color: #c29d59;
  padding: 5px;
  border-radius: 50%;
}
footer .footer-container .footer-main P {
  text-align: center;
  padding: 10px;
}
footer .footer-container .footer-main input {
  font-size: 15px;
  height: 35px;
  border: none;
  padding-left: 10px;
  width: 40vh;
}
footer .footer-container .footer-main .btn {
  background-color: #c29d59;
  padding: 7px;
  border: none;
  margin: 5px;
  font-size: 14px;
  width: 20vh;
}
footer .footer-container .footer-main .btn:hover {
  background-color: rgb(180, 103, 15);
  color: white;
}
footer .footer-container .solutions-section {
  margin: 10px;
  margin-top: 2;
  padding: 10px;
}
footer .footer-container .solutions-section h2 {
  font-family: "Great Vibes", cursiv;
  color: #c29d59;
}
footer .footer-container .solutions-section ul li {
  list-style: none;
  padding: 5px;
}
footer .footer-container .solutions-section ul li a {
  text-decoration: none;
  color: rgb(189, 183, 183);
}
footer .footer-container .solutions-section ul li a:hover {
  color: #c29d59;
}
footer .footer-container .explor-section {
  margin: 10px;
  margin-top: 2;
  padding: 10px;
}
footer .footer-container .explor-section h2 {
  font-family: "Great Vibes", cursiv;
  color: #c29d59;
}
footer .footer-container .explor-section ul li {
  list-style: none;
  padding: 5px;
}
footer .footer-container .explor-section ul li a {
  text-decoration: none;
  color: rgb(189, 183, 183);
}
footer .footer-container .explor-section ul li a:hover {
  color: #c29d59;
}
footer .updet-news {
  margin: 10px;
  padding: 10px;
}
footer .updet-news h2 {
  font-family: "Great Vibes", cursiv;
  color: #c29d59;
}
footer .updet-news p {
  line-height: 28px;
}

@media screen and (max-width: 620px) {
  header .header-top {
    display: none;
  }
  header .header_main {
    width: 100%;
    top: 10px;
    color: #fff6f6;
    position: unset;
    background-color: rgba(17, 202, 147, 0.562);
    height: 50vh;
    display: flex;
  }
  header .header_main .header_main_left {
    display: none;
  }
  header .header_main .header_main_main {
    width: 50%;
  }
  header .header_main .header_main_main nav ul {
    display: flex;
    flex-direction: column-reverse;
  }
  header .header_main .header_main_main nav ul li a:hover {
    background-color: #409ab1;
    padding: 7px;
    color: white;
    font-weight: bold;
    border-radius: 16px;
  }
  header .header_main_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .crad-container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .footer-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }
}/*# sourceMappingURL=demo.css.map */